:root {
  --dark-green: #264653;
  --light-green: #2A9D8F;
  --light-yellow: #E9C46A;
  --tangerine: #F4A261;
  --grapefruit: #E76F51;
}

html {
  background-color: var(--light-yellow);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snap {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snap > div {
  scroll-snap-align: center;
}